[Desktop Entry]
Name=Xenta OS

X-KDE-PluginInfo-Name=Xenta OS
X-KDE-PluginInfo-Author=Dindin Hernawan
X-KDE-PluginInfo-Email=dindin_hernawan@yahoo.com
X-KDE-PluginInfo-Website=xentaos.blogspot.co.id
X-KDE-PluginInfo-License=GPLv3
Name[en_US]=Xenta OS
